{
  "appId": "com.peppermint.app",
  "appName": "peppermint-clients",
  "bundledWebRuntime": false,
  "npmClient": "yarn",
  "webDir": "dist",
  "linuxAndroidStudioPath": "/usr/bin/android-studio",
  "plugins": {
    "SplashScreen": {
      "launchShowDuration": 0
    }
  },
  "server": {
    "androidScheme": "http",
    "url": "http://<ip of your machine>:3000",
    "cleartext": true
  },
  "cordova": {}
}
